#products {
    flex-wrap: wrap;
    gap: 8%;
  }

  .card {
    width: 28%;
    height: 0%;
    margin-bottom: 5%;
  }

  .cardhead {
    text-transform: capitalize;
  }

  img {
    object-fit: contain;
    height: 40% !important ;
  }

img.card-img-top {
  width: 300px !important;
  height: 150px !important;
  object-fit: contain !important;
}


  .container-box-277 {
    width: 20%;
    height: 40%;
    display: none;
  }

  .contt {
    display: none;
  }
  
  .imagess {
    display: none;
  }

.card-footer:last-child {

}
