#fruit{
    list-style: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

#fruit{
    display: grid;
    justify-content: center;


}
.input{
    border:solid 2px;
    border-color: red;
}

#taste{
    border: solid 2px;
    border-color: red;
}#fruit{
    list-style: none;
}

.content{
    display: flex;
   flex-wrap: wrap;
}
/* 
.input-group{
    display: flex;
    
    justify-content: center;
} */

#fruit{
    display: flex;
    flex-wrap: wrap;
    

}

#taste{
    border: solid 2px;
    border-color: red;
    
}


 .btn1{
     display: grid;
     justify-content: flex-end;
 }
 
/* 
.card-body{
    display: flex;
    justify-content: center;
   
} */

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    
}

.in{
    display:flex ;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    width: 400px;
    
}

.modal-body{
    margin-top: auto;
    margin-bottom: 10px;
}

.fs-6{
    padding-left: 10px;
}

.modal-title{
    margin-left: auto;
}

.inp{
    display:flex ;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    width: 400px;
}
